body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#e91e63  ;
    
}
nav .brand-logo {
    line-height: none;
    text-shadow: 1px 1px 2px #000000;
}

nav .nav-title {
    font-size: 15px;
    letter-spacing: 0.5mm;
    text-shadow: 1px 1px 2px #000000;
}
      
  .card-container {
      width: 500px;
  }